<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo">MY PERSONAL PAGE</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Acerca de</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
    </div>
</nav>
