<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acerca de</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">MÁS SOBRE MI :)</h1>
            <p class="subtitle">Soy Migue. Conoce más sobre mí !!.</p>
            <div class="buttons">
                <a href="https://www.instagram.com/miguel_becerra_a?igsh=MTZkaGY4cTU3OWJoNA%3D%3D&utm_source=qr" target="_blank" class="button is-primary">Instagram</a>
                <a href="https://www.facebook.com/miguelangel.becerraayala.3?mibextid=opq0tG" target="_blank" class="button is-primary">Facebook</a>
            </div>
            <div class="box">
                <h2 class="subtitle">Mis gustos musicales</h2>
                <p>Me gusta mucho la electrónica y la música urbana latino, aunque lo admito me se muchas canciones de señora, gracias a mi mamá, escuchar música siempre me pone de buenas y si es una canción para bailar más aún..</p>
                <figure class="image is-4by3">
                    <img src="ruta/a/la/imagen/musica.jpg" alt="Imagen de música">
                </figure>
            </div>
            <div class="box">
                <h2 class="subtitle">Mi familia</h2>
                <p>Tengo una familia espectacular, me encanta pasar momentos agradables a su lado y compartir momentos únicos con ellos, siempre seran lo mejor de mi vida.</p>
                <figure class="image is-4by3">
                    <img src="ruta/a/la/imagen/familia.jpg" alt="Imagen de familia">
                </figure>
            </div>
            <a href="/" class="button">Volver a la página principal</a>
        </div>
    </section>
</body>
</html>
